h1 {
	font: italic small-caps bold 40px Georgia, serif;
	color: #9b26a8;
}

h3 {
	font: italic small-caps bold 23px Georgia, serif;
	color: #c43ed2;
}

h4 {
	font: italic small-caps bold 20px Georgia, serif;
	color: #d370de;
}

footer {
	border-top-style: groove;
	margin-top: 3em;
}

#16afa0;
 #22e1ce;