<!DOCTYPE html>
<html lang="it" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<link rel="stylesheet" th:href="@{/css/style.css}" />
<title>Tag</title>
</head>
<body>
	<h1>Sicuro di voler cancellare il tag?</h1>
	<table>
		<tr>
			<td>Nome:</td>
			<td th:text=" ${tag.nome}"></td>
		</tr>
		<tr>
			<td>Colore:</td>
			<td th:text=" ${tag.colore}"></td>
		</tr>
		<tr>
			<td>Descrizione:</td>
			<td th:text=" ${tag.descrizione}"></td>
		</tr>
	</table>
	<p>
		<a th:href="@{'/home/progettiCreati/' + ${progetto.id}}">
			<button type="submit">Indietro</button>
		</a>
	</p>
	<form
		th:action="@{'/home/progettiCreati/' + ${progetto.id} + '/' + ${tag.id} + '/cancellaTag'}"
		method="POST">
		<a><button type="submit">Conferma</button></a>
	</form>
</body>
</html>